{
  "openapi": "3.0.3",
  "info": {
    "title": "Galactic Boosts License API",
    "version": "1.0.0",
    "description": "Public license-management API used by client tools, Discord bots, and web portals. Base URL: https://license.galacticboosts.online/api",
    "contact": { "name": "Galactic Boosts", "url": "https://license.galacticboosts.online" }
  },
  "servers": [
    { "url": "https://license.galacticboosts.online/api", "description": "Production" }
  ],
  "tags": [
    { "name": "Licenses", "description": "License validation & lifecycle" },
    { "name": "Portal", "description": "Read-only portal lookups" },
    { "name": "Runtime", "description": "Client-tool heartbeats" },
    { "name": "Admin", "description": "Admin & bot-only endpoints" }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" },
      "BotApiKey": { "type": "apiKey", "in": "header", "name": "X-API-Key" },
      "SignatureHmac": { "type": "apiKey", "in": "header", "name": "X-Signature" },
      "SignatureTs": { "type": "apiKey", "in": "header", "name": "X-Timestamp" }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      },
      "ValidateRequest": {
        "type": "object",
        "required": ["license_key"],
        "properties": {
          "license_key": { "type": "string", "maxLength": 50, "example": "GALACTIC-XXXXX-XXXXX-XXXXX-XXXXX" },
          "hwid": { "type": "string", "maxLength": 100 },
          "device_name": { "type": "string", "maxLength": 100 },
          "application_id": { "type": "string", "format": "uuid" }
        }
      },
      "ValidateResponse": {
        "type": "object",
        "properties": {
          "valid": { "type": "boolean" },
          "expires": { "type": "string", "format": "date-time" },
          "expires_readable": { "type": "string" },
          "hwid": { "type": "string" },
          "app": { "type": "string" },
          "country": { "type": "string" },
          "device_name": { "type": "string" }
        }
      },
      "CheckLicenseRequest": {
        "type": "object",
        "required": ["license_key"],
        "properties": { "license_key": { "type": "string", "maxLength": 50 } }
      },
      "CheckLicenseResponse": {
        "type": "object",
        "properties": {
          "valid": { "type": "boolean" },
          "license_key": { "type": "string" },
          "application": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "banned", "expired", "unused"] },
          "expires_at": { "type": "string", "format": "date-time" },
          "expires_readable": { "type": "string" },
          "owner_name": { "type": "string" },
          "is_used": { "type": "boolean" },
          "is_banned": { "type": "boolean" }
        }
      },
      "HeartbeatRequest": {
        "type": "object",
        "required": ["license_key"],
        "properties": {
          "license_key": { "type": "string", "maxLength": 50 },
          "application_id": { "type": "string", "format": "uuid" }
        }
      },
      "HeartbeatResponse": {
        "type": "object",
        "properties": {
          "active": { "type": "boolean" },
          "app": { "type": "string" },
          "country": { "type": "string" }
        }
      },
      "ResetHwidRequest": {
        "type": "object",
        "required": ["license_key"],
        "properties": { "license_key": { "type": "string", "maxLength": 50 } }
      },
      "ResetHwidResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "license_key": { "type": "string" },
          "previous_hwid": { "type": "string" }
        }
      },
      "CreateResellerRequest": {
        "type": "object",
        "required": ["username", "email", "password"],
        "properties": {
          "username": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "format": "password" },
          "credits": { "type": "integer", "default": 10 },
          "allowed_apps": { "type": "array", "items": { "type": "string", "format": "uuid" } }
        }
      },
      "CreateResellerResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "reseller_id": { "type": "string", "format": "uuid" },
          "message": { "type": "string" }
        }
      }
    }
  },
  "paths": {
    "/validate": {
      "post": {
        "tags": ["Licenses"],
        "summary": "Validate a license key",
        "description": "Primary endpoint called by client software on startup. Enforces HWID binding, anti-sharing, rate-limits, kill-switch, and optional HMAC request signing.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidateRequest" } } }
        },
        "parameters": [
          { "in": "header", "name": "X-Signature", "schema": { "type": "string" }, "description": "HMAC-SHA256 hex of `timestamp.body` using app signing secret. Required only when the app has signing enabled." },
          { "in": "header", "name": "X-Timestamp", "schema": { "type": "string" }, "description": "Unix timestamp in seconds. Must be within 60s of server time." }
        ],
        "responses": {
          "200": { "description": "License valid", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidateResponse" } } } },
          "400": { "description": "Invalid input", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Rejected (banned, expired, HWID mismatch, kill-switch, signature invalid)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "License not found" },
          "429": { "description": "Rate limit exceeded" },
          "500": { "description": "Server error" }
        }
      }
    },
    "/check-license": {
      "post": {
        "tags": ["Portal"],
        "summary": "Read-only license lookup",
        "description": "Lightweight portal endpoint — no HWID binding, no IP tracking, no activity log entry. Suitable for user-facing status pages.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CheckLicenseRequest" } } }
        },
        "responses": {
          "200": { "description": "License data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CheckLicenseResponse" } } } },
          "400": { "description": "Invalid input" },
          "403": { "description": "Banned or app disabled" },
          "404": { "description": "License not found" },
          "410": { "description": "Expired" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/heartbeat": {
      "post": {
        "tags": ["Runtime"],
        "summary": "Client heartbeat / online ping",
        "description": "Call every 30–60s from running clients to detect bans, suspensions, or kill-switch in real time. Also drives `last_seen` and 'Tool online' activity logs.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HeartbeatRequest" } } }
        },
        "responses": {
          "200": { "description": "Session still active", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HeartbeatResponse" } } } },
          "400": { "description": "Invalid input" },
          "403": { "description": "Rejected — license belongs to a different app or app disabled" },
          "404": { "description": "License not found" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/reset-hwid": {
      "post": {
        "tags": ["Admin"],
        "summary": "Reset HWID binding on a license",
        "description": "Authenticate with a Bot API Key (preferred, from Settings) or an admin Bearer token.",
        "security": [{ "BotApiKey": [] }, { "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResetHwidRequest" } } }
        },
        "responses": {
          "200": { "description": "Reset successful", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResetHwidResponse" } } } },
          "400": { "description": "Invalid input or no HWID bound" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "License not found" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/create-reseller": {
      "post": {
        "tags": ["Admin"],
        "summary": "Provision a reseller account",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateResellerRequest" } } }
        },
        "responses": {
          "200": { "description": "Reseller created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateResellerResponse" } } } },
          "400": { "description": "Invalid input or email already exists" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Admin access required" }
        }
      }
    }
  }
}